.cart {
  &__left {
    width: 652px;

    &-btns {
      display: flex;
      justify-content: space-between;
    }

    &-btn {
      padding: 17px 40px;
      border: 1px solid #A4A4A4;
      font-size: 14px;
      font-weight: 300;
      color: #000;
      background: #fff;
    }
  }

  &__right {
    width: 360px;
  }

  &-content {
    padding: 96px 0 128px;
    display: flex;
    justify-content: space-between;
    gap: 0 128px;
  }


  &-product {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 306px;
    margin-bottom: 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background: #fff;

    &__data {
      padding: 22px 31px 62px;
    }

    &__close-img {
      position: absolute;
      top: 28px;
      right: 22px;
    }

    &__title, &__subtitle {
      font-size: 24px;
      font-weight: 400;
      color: #222;
    }

    &__subtitle {
      margin-bottom: 42px;
    }

    &__info {
      margin-bottom: 6px;
      font-size: 22px;
      font-weight: 400;
      color: #575757;
    }
  }
}

.price span {
  color: #EF5B70;
}

.quantity span {
  border: 1px solid #EAEAEA;
  font-size: 18px;
  color: #656565;
  padding: 4px 23px;
}

.form-addres {

  &__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #A4A4A4;
    padding: 13px 17px;
    font-size: 13px;
    font-weight: 300;
    color: #222;
  }

  &__btn {  
    margin-top: 3px;
    border: 1px solid #A4A4A4;
    font-size: 11px;
    font-weight: 300;
    color: #A4A4A4;
    background: #fff;
    padding: 12px 15px;
  } 
}

.check {
  margin-top: 57px;
  padding: 39px 44px 42px;
  background: #F5F3F3;

  &__sub-totlal {
    font-size: 11px;
    font-weight: 400;
    text-align: right;

    span {
      margin-left: 30px;
    }
  }

  &__gran-total {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 300;
    text-align: right;

    span {
      margin-left: 30px;
      color: #F16D7F;
    }
  }

  &__delimiter {
    height: 1px;
    background: #E2E2E2;
    margin-top: 21px;
  }

  &__btn {
    margin-top: 17px;
    padding: 16px 23px;
    background: #F16D7F;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
  } 
}


