@import './var';

.subheader {
  min-height: 148px;
  background: #F8F3F4;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px; 
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: $PINK_COLOR;
    text-transform: uppercase;
  }

  &__bread-crumbs {
    display: flex;
    gap: 5px;
    text-transform: uppercase;
  }

  &__bread-crumb-delimiter {
    font-size: 16px;
    font-weight: 300;
    color: #636363;
  }

  &__bread-crumb-link {
    font-size: 14px;
    font-weight: 300;
    color: #636363;
    text-transform: uppercase;

    &_active {
      font-weight: 700;
      color: $PINK_COLOR;
    }
  }

  &__bread-crumb-delimiter {

  }
}

.cloth {
  position: relative;
  background: #F7F7F7;
  margin-bottom: 664px;

  &-slider {
    min-height: 777px;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;

    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 47px;
      height: 47px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: rgba(42, 42, 42, 0.15);

      svg {
        fill: black;
      }

      &-left {
        left: 0;
      }

      &-right {
        right: 0;
      }

      &:hover svg {
        fill: $PINK_COLOR;
      }
    }
  }

  &-info {
    width: 1141px;
    min-height: 601px;
    position: absolute;
    left: 50%;
    bottom: -560px;
    transform: translateX(-50%);
    border: 1px solid #EAEAEA;
    background: #fff;
    padding: 64px 15px;
    text-align: center;

    &__title {
      font-size: 14px;
      font-weight: 300;
      font-family: 'Lato', sans-serif;
      color: $PINK_COLOR;
    }

    &__min-delimiter {
      width: 63px;
      height: 3px;
      margin: 12px auto 0;
      background: #EF5B70;
    }

    &__subtitle {
      font-size: 18px;
      font-weight: 300;
      color: #4D4D4D;
      margin-top: 12px;
    }

    &__description {
      max-width: 528px;
      margin: 48px auto 0;
      color: #5E5E5E;
      font-family: Lato;
      font-size: 14px;
      font-weight: 300;
    }

    &__price {
      margin-top: 32px;
      color: #EF5B70;
      font-size: 24px;
      font-weight: 300;
    }

    &__delimiter {
      max-width: 641px;
      height: 1px;
      margin: 65px auto 0;
      background: #EAEAEA;
    }

    &__sorts {
      display: flex;
      justify-content: center;
      gap: 22px;
      margin-top: 65px;
    }

    &__sort {
      display: flex;
      align-items: center;
      gap: 9px;
      position: relative;
      border: none;
      background: #fff;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      color: #6F6E6E;
      cursor: pointer;

      &:hover .cloth-info__sort-choice {
        display: block;
      }

      &-choice {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        padding: 0px 10px 10px;
        border: 1px solid #EAEAEA;
        background: #fff;

        &-item {
          padding: 10px 5px;
          margin-top: 10px;
          text-align: left;

          &:hover {
            background: #F8F3F4;
          }
        }
      }
    }

    &__btn-add {
      display: flex;
      align-items: center;
      position: relative;
      z-index: -1;
      width: 212px;
      margin: 48px auto 0;
      padding: 15px 24px 9px;
      background: #fff;
      border: 1px solid #FF6A6A;
      color: #F26376;
      font-size: 16px;
      font-weight: 400;
      text-align: left;

      &-img {
        margin-right: 22px;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }

  }

}