@media(max-width: 1024px) {
  .container {
    max-width: 767px;
  }

  .promo {
    min-height: 368px;
  }

  .promo__text {
    margin-top: 138px;
    margin-left: 39px;
  }

  .promo__title {
    font-size: 44px;
  }

  .promo__subtitle {
    font-size: 24px;
  }

  .offer__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 232px));
    grid-template-rows: minmax(168px, auto) minmax(116px, auto);
    gap: 20px;
  }

.products__items {
  gap: 15px;
}

.advantages {
  padding-top: 0;
  padding-bottom: 64px;
}

.advantages__content {
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  margin-top: 48px;
}

.subscribe {
  min-height: 693px;
}

.subscribe__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.subscribe__left {
  margin-top: 64px;
}

.subscribe__right {
  margin-top: 48px;
}

}

@media(max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .btn-menu {
    padding-right: 0;
  }

  .btn-user, .btn-basket {
    display: none;
  }

  .promo__contnet-left {
    display: none;
  }

  .promo__contnet-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 363px;
  }

  .promo__text {
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .promo__title {
    font-size: 38px;
  }

  .promo__subtitle {
    font-size: 20px;
  }

  .offer__content {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 343px));
    grid-template-rows: repeat(3, 247px) 111px;
    justify-content: center;
    gap: 32px 0;
  }

  .offer__item_accesories {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .offer__item_accesories img {
    object-fit: cover;
  }

  .products {
    margin: 64px 0 85px;
  }

  .products__items {
    gap: 15px;
  }

  .products__item-img {
    object-fit: cover;
  }

  .products__btn {
    margin-top: 40px;
  }

  .subscribe {
    min-height: 550px;
  }

  .footer__contnet {
    flex-direction: column-reverse;
    padding: 43px 0 9px;
  }

  .footer__left {
    margin-top: 40px;
  }
}