@media(max-width: 1024px) {
  .container {
    max-width: 767px;
  }

  .promo {
    min-height: 368px;
  }

  .promo__text {
    margin-top: 138px;
    margin-left: 39px;
  }

  .promo__title {
    font-size: 44px;
  }

  .promo__subtitle {
    font-size: 24px;
  }

  .offer__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 232px));
    grid-template-rows: minmax(168px, auto) minmax(116px, auto);
    gap: 20px;
  }

.products__items {
  gap: 15px;
}

.advantages {
  padding-top: 0;
  padding-bottom: 64px;
}

.advantages__content {
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  margin-top: 48px;
}

.subscribe {
  min-height: 693px;
}

.subscribe__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.subscribe__left {
  margin-top: 64px;
}

.subscribe__right {
  margin-top: 48px;
}

.cart {

  &-content {
    flex-direction: column;
    align-items: center;
  }

  &__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    margin-top: 64px;
  }
}

.form-addres {
  width: 360px;
}

.check {
  width: 360px;
  margin-top: 38px;
}


}

@media(max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .btn-menu {
    padding-right: 0;
  }

  .btn-user, .btn-basket {
    display: none;
  }

  .promo__contnet-left {
    display: none;
  }

  .promo__contnet-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 363px;
  }

  .promo__text {
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .promo__title {
    font-size: 38px;
  }

  .promo__subtitle {
    font-size: 20px;
  }

  .offer__content {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 343px));
    grid-template-rows: repeat(3, 247px) 111px;
    justify-content: center;
    gap: 32px 0;
  }

  .offer__item_accesories {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .offer__item_accesories img {
    object-fit: cover;
  }

  .products {
    margin: 64px 0 85px;
  }

  .products__items {
    gap: 15px;
  }

  .products__item-img {
    object-fit: cover;
  }

  .products__btn {
    margin-top: 40px;
  }

  .subscribe {
    min-height: 550px;
  }

  .footer__contnet {
    flex-direction: column-reverse;
    padding: 43px 0 9px;
  }

  .footer__left {
    margin-top: 40px;
  }

  .cloth {
    margin-bottom: 730px;

    &-slider {
      height: 768px;

      &__img {
        width: 466px;
        object-fit: cover;
      }
    }

    &-info {
      width: 100%;
      bottom: -77%
    }
  }

  .preferences_box {
    justify-content: flex-end;
    gap: 12px;
    max-width: 435px;
    margin-left: auto;

    &_min {
      font-size: 12px;
    }
  }

  .cart {

    &__left {
      width: 100%;

      &-btn {
        padding: 10px 15px;
        font-size: 12px;
      }
    }

    &-content {
      padding: 40px 0 128px;
    }

    &__right {
      flex-direction: column;
      align-items: center;
    }
  }

  .cart-product {
    min-height: 188px;

    &__data {
      padding: 13px 17px 38px;
    }

    &__title {
      font-size: 16px;
    }

    &__subtitle {
      font-size: 16px;
      margin-bottom: 25px;
    }

    &__info {
      font-size: 14px;
    }

    &__img {
      height: 200px;
    }
  }

  .quantity span {
    font-size: 14px;
    padding: 2px 15px;

  }
  
  .subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__content {
      padding: 0;
    }
  }
  
}

@media(max-width: 500px) {
  .subheader {
    &__content {
      flex-direction: column;
      padding-top: 24px;
    }

    &__bread-crumbs {
      padding-top: 32px;
    }
  }

  .cloth {
    height: 624px;
    margin-bottom: 730px;

    &-slider {
      height: 768px;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-info {
      width: 100%;
      bottom: -100%;

      &__sort {
        font-size: 10px;
      }
    }
  }

  .tools-filter {
    width: 87%;
  }

  .tools-filter__summary-heading-text {
    display: none;
  }
}