* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

.container {
  max-width: 1172px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  min-height: 75px;
  background: #222;
  padding: 18px 0 19px 0;
}

.header__content {
  display: flex;
  justify-content: space-between; 
}

.header__left {
  display: flex;
  align-items: flex-end;
}

.header__link-logo {
  margin-right: 11px;
  padding-right: 15px;
  background-color: inherit;
}

.header__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__search-btn {
  display: block;
  padding-left: 15px;
  border: none;
  background-color: inherit;
}

.header__search-img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.header__right {
  display: flex;
  align-items: flex-end;
}

.header__right-btn {
  border: none;
  padding: 0 16.5px;
  background-color: inherit;
}

.header__right-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-basket {
  position: relative;
}

.btn-basket__counter {
  position: absolute;
  top: -8px;
  right: 7px;
  padding: 3px 7px;
  border-radius: 100%;
  background-color:#F16D7F;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
}

.promo {
  display: flex;
  min-height: 764px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  min-height: 764px;
  background: #F1E4E6;
}



.promo__contnet-left {
  background: url('../img/main/main_man.png') center center / cover no-repeat;
}

.promo__contnet-left, .promo__contnet-right {
  width: 50%
}

.promo__text {
  height: 92px;
  margin-top: 260px;
  margin-left: 64px;
  padding-left: 16px; 
  border-left: 12px solid #F16D7F;
  
}

.promo__title {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}

.promo__subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}

.promo__subtitle span {
  color: #F16D7F;
}



.offer {
  margin-top: 65px;
}

.offer__content {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 360px));
  grid-template-rows: minmax(auto, 260px) minmax(auto, 180px);
  gap: 30px;
}

.offer__item {
  position: relative;
}

.offer__item_accesories {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.offer__item-img {
  width: 100%;
  height: 100%;  
}

.offer__item-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.70);
}

.offer__item-subtitle {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;

}

.offer__item-title {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;

}

.products {
  margin: 96px 0 60px;
}

.products__title {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.products__subtitle {
  margin-top: 6px;
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.products__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 48px;
}

.products__item {
  width: 360px;
  background-color: #F8F8F8;
}

.products__item-img-wrapper {
  position: relative;
  width: 100%;
  height: 420px;
}

.added-basket {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 56, 56, 0.86);
}

.products__item-img-wrapper:hover .added-basket {
  display: flex;
}

.products__item-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__item-content {
  padding: 25px 16px;
}

.products__item-title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
}

.products__item-descr {
  max-width: 301px;
  margin-top: 16px;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
}

.products__item-price {
  margin-top: 16px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.products__btn-wrapper {
  display: flex;
  justify-content: center;
}

.products__btn {
  margin-top: 63px;
  padding: 15px 39px;
  border: 1px solid #F26376;
  background: inherit;
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
}

.products__btn:hover {
  background: #F16D7F;
  color: #fff;
}

.added-basket__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 16px 9px 14px;
  background-color: inherit;
  border: 1px solid #fff;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

.added-basket__img {
  margin-right: 10px;
}

.footer {
  background-color: #222224;
}

.footer__contnet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.footer .footer_text_left {
  font-size: 16px;
  font-weight: 400;
  color: #fbfbfb;
}

.footer .social_box {
  display: flex;
}

.footer .social_box .social_link_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.5s;
}

.footer .social_box .social_link_box:not(:first-child) {
  margin-left: 7px;
}

.footer .social_box .social_link_box:not(:first-child) i {
  transition: color 0.5s;
}

.footer .social_box .social_link_box:hover {
  background-color: #f16d7f;
}

.footer .social_box .social_link_box:hover i {
  color: #ffffff;
}


/* media */
@media(max-width: 1024px) {
  .container {
    max-width: 767px;
  }

  .promo {
    min-height: 368px;
  }

  .promo__text {
    margin-top: 138px;
    margin-left: 39px;
  }

  .promo__title {
    font-size: 44px;
  }

  .promo__subtitle {
    font-size: 24px;
  }

  .offer__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 232px));
    grid-template-rows: minmax(168px, auto) minmax(116px, auto);
    gap: 20px;
  }

  .products__items {
    gap: 15px;
  }
}

@media(max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .btn-menu {
    padding-right: 0;
  }

  .btn-user, .btn-basket {
    display: none;
  }

  .promo__contnet-left {
    display: none;
  }

  .promo__contnet-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 363px;
  }

  .promo__text {
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .promo__title {
    font-size: 38px;
  }

  .promo__subtitle {
    font-size: 20px;
  }

  .offer__content {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 343px));
    grid-template-rows: repeat(3, 247px) 111px;
    justify-content: center;
    gap: 32px 0;
  }

  .offer__item_accesories {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .offer__item_accesories img {
    object-fit: cover;
  }

  .products {
    margin: 64px 0 85px;
  }

  .products__items {
    gap: 15px;
  }

  .products__item-img {
    object-fit: cover;
  }

  .products__btn {
    margin-top: 40px;
  }
}